<div class="example-container box-config-form">
    <div class="row">
        <div class="col-md-6">
            <!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->
        </div>
        <div class="col-md-6 box-action-list">
            <div class="icon-table-config" (click)="openModalConfigTable()">
                <i class="fa fa-table" aria-hidden="true"></i> Table
            </div>
            <div class="watch-detail" (click)="showInfoFormList()">
                Xem chi tiết <i class="fa fa-external-link"
                                aria-hidden="true"
                                style="margin-left: 5px"></i>
            </div>
        </div>
    </div>
    <div *ngFor="let test1 of arrayAttributeDrop; let i = index" class="container"
         style="margin: 0; position: relative">
        <div
                cdkDropList
                #doneList="cdkDropList"
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="test1.arr"
                [cdkDropListConnectedTo]="[todoList]"
                (cdkDropListDropped)="drop2($event)"
                class="example-list row box-form box-add-drag">
            <div class="col-md-{{item.AttributeColumn}} col-xl-{{item.AttributeColumn}} m-t-15 example-box" [ngClass]="{'active1': item.active}" (mouseover)="hover()"
                 id="item{{i}}{{index}}" cdkDrag [cdkDragData]="item"
                 *ngFor="let item of test1.arr; let index = index"
                 >
                <div class="j-unit">
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4">{{item.AttributeLabel}}</div>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" class="form-control" *ngIf="item.AttributeType === 'TEXTBOX'" />-->
                            <!--<input type="checkbox" *ngIf="item.AttributeType === 'CHECKBOX'" />-->
                            <!--<textarea *ngIf="item.AttributeType === 'TEXTAREA'"></textarea>-->
                            <!--<select *ngIf="item.AttributeType === 'DROPDOWNLIST'"><option>1</option></select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <label class="j-label" [ngStyle]="!item.IsShowLabel && {'visibility': 'hidden'}">{{item.AttributeLabel}}</label>

                    <div *ngIf="item.AttributeType == 'TEXTBOX'">
                        <input class="form-control" [disabled]="item.IsReuse" [value]="item.DefaultValueWithTextBox" />
                    </div>
                    <div *ngIf="item.AttributeType == 'TEXTAREA'">
                        <textarea class="form-control" [disabled]="item.IsReuse" [value]="item.DefaultValueWithTextBox"></textarea>
                    </div>
                    <div *ngIf="item.AttributeType == 'CHECKBOX' || item.AttributeType == 'LISTCHECKBOX'">
                        <div class="border-checkbox-section" *ngIf="item?.ListCategory.length > 0">
                            <div class="border-checkbox-group border-checkbox-group-primary" *ngFor="let val of item?.ListCategory; let i = index">
                                <input class="border-checkbox" type="checkbox" id="checkboxb{{i}}" [disabled]="item.IsReuse" [checked]="val?.CategoryCode === item?.DefaultValue">
                                <label class="border-checkbox-label" for="checkboxb{{i}}">{{val.CategoryName}}</label>
                            </div>
                        </div>

                        <div class="border-checkbox-section" *ngIf="item?.ListCategory.length === 0">
                            <div class="border-checkbox-group border-checkbox-group-primary">
                                <input class="border-checkbox" type="checkbox" id="checkboxa" [disabled]="item.IsReuse">
                                <label class="border-checkbox-label" for="checkboxa">{{item.AttributeLabel}}</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.AttributeType == 'DROPDOWNLIST'">
                        <select [disabled]="item.IsReuse" class="form-control">
                            <option *ngFor="let val of item?.ListCategory" [value]="val?.CategoryCode" [selected]="val?.CategoryCode === item?.DefaultValue">{{val?.CategoryName}}</option>
                        </select>
                    </div>
                    <div *ngIf="item.AttributeType == 'RADIO' || item.AttributeType == 'LISTRADIO'">
                        <div class="form-radio" *ngIf="item?.ListCategory.length > 0">
                            <form>
                                <div class="radio radio-inline" *ngFor="let val of item?.ListCategory; let i = index">
                                    <label>
                                        <input type="radio" name="radio" [value]="val.CategoryCode" [checked]="val?.CategoryCode === item?.DefaultValue">
                                        <i class="helper"></i> {{val.CategoryName}}
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="form-radio" *ngIf="item?.ListCategory.length === 0">
                            <form>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" [value]="item.CategoryCode">
                                        <i class="helper"></i> {{item.AttributeLabel}}
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>



                    <i class="fa fa-times-circle" aria-hidden="true"
                       (click)="deleteAttrList(item, test1.arr)" [ngClass]="{'active2': item.active}"></i>
                    <span (click)="getInfoConfigSearchToEdit(item)"><i class="fa fa-pencil-square"
                                                                 aria-hidden="true"
                                                                 (click)="modalConfigFieldSearch.show()" [ngClass]="{'active2': item.active}"></i></span>
                    <i class="fa fa-plus-circle" [ngClass]="{'active2': item.active}" aria-hidden="true"
                       (click)="addWidthAttr(item, test1.arr, i, index)"></i>
                    <i class="fa fa-minus-circle" [ngClass]="{'active2': item.active}" aria-hidden="true"
                       (click)="minusWidthAttr(item, test1.arr, i, index)"></i>
                </div>
            </div>
        </div>
        <i class="fa fa-minus" aria-hidden="true"
           (click)="deleteRow(test1.arr, i)" *ngIf="lengthOfarrayAttributeDropItem > 1"></i>
        <div class="clearfix"></div>
    </div>
    <div class="add-row">
        <i class="fa fa-plus" aria-hidden="true"
           (click)="addRow()"></i>
    </div>
    <div class="tableShow">
        <div *ngIf="showErrorNull" class="star m-t-20">Chưa chọn trường thông tin cho bảng</div>
        <div class="table-responsive m-t-20">
            <table class="table table-sm table-common">
                <thead>
                <tr>
                    <th class="text-center" *ngFor="let item of listTitleTable">{{item.AttributeLabel}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center" *ngFor="let item of listTitleTable">---</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="footer-bottom m-t-20 text-center">
    <button class="btn btn-default" (click)="cancelFormList()">Hủy</button>
    <button class="btn btn-primary m-l-10" (click)="acceptFormList()">Áp
        dụng
    </button>
</div>

<!-- modal table config large-->
<form class="form">
    <app-modal-basic #modalLarge [dialogClass]="'modal-lg'" [outsizeClose]="false">
        <div class="app-modal-header">
            <h4 class="modal-title">Cấu hình danh sách</h4>
            <button type="button" class="close basic-close" (click)="cancelModalConfigLisst()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex">
                        <div style="flex: 1">
                            <div class="list-user_lable title-table">
                                Thông tin khách hàng {{termTitleToDrag}}
                            </div>
                            <table class="fixed_headers">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        <form class="edit-authority-user_header">
                                            <!--<div>-->
                                            <!--<span class="mr-2">Tài khoản</span><span><i-->
                                            <!--class="feather icon-search"></i></span></div>-->
                                            <div>
                                                <input class="form-control input-md"
                                                       placeholder="Tìm kiếm trường" name="search" type="text" [(ngModel)]="termTitleToDrag" />
                                            </div>
                                        </form>
                                    </th>
                                    <th>
                                        <input class="border-checkbox" type="checkbox"
                                               (change)="checkAllListDragBox($event)" id="allDrag">
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="min-height: 350px; max-height: 350px">
                                <tr *ngFor="let item of listTitleToDrag | searchFilter:termTitleToDrag; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.AttributeLabel}}</td>
                                    <td>
                                        <input class="border-checkbox" type="checkbox"
                                               (change)="changeToTable($event, item)" [checked]="checkAllListDrag">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block_center">
                            <div style="text-align: center">
                                <button type="button" class="btn btn-primary py-0 mb-2" (click)="pushToTable()"
                                ><span><i
                                        class="fa fa-angle-right fa-3x"></i></span></button>
                                <button type="button" class="btn btn-secondary py-0" (click)="pushToListDrag()"
                                ><span><i
                                        class="fa fa-angle-left fa-3x"></i></span></button>
                            </div>
                        </div>
                        <div style="flex: 1">
                            <div class="list-user_lable title-table">Bảng danh sách thông tin khách hàng</div>
                            <table class="fixed_headers">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        <form class="edit-authority-user_header">
                                            <!--<div>-->
                                            <!--<span class="mr-2">Tài khoản</span><span><i-->
                                            <!--class="feather icon-search"></i></span></div>-->
                                            <div>
                                                <input class="form-control input-md"
                                                       placeholder="Tìm kiếm trường" type="text"
                                                       [ngModelOptions]="{standalone: true}"
                                                       [(ngModel)]="termTitleTable">
                                            </div>

                                        </form>
                                    </th>
                                    <th>
                                        <input class="border-checkbox" type="checkbox"
                                               (change)="checkAllListTitleTableCox($event)" id="allTitle">
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="min-height: 350px; max-height: 350px">
                                <tr *ngFor="let item of listTitleTable | searchFilter:termTitleTable ; let i = index">
                                    <td>{{i+1}}</td>
                                    <td><span (click)="activeItem(item, i)"
                                              id="itemActive{{i}}">{{item.AttributeLabel}}</span></td>
                                    <td>
                                        <input class="border-checkbox" type="checkbox"
                                               (change)="changeToListDrag($event, item)"
                                               [checked]="checkAllListTitleTable">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-action">
                                <div class="box-action-item" (click)="moveFirst()">
                                    Đầu <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                </div>
                                <div class="box-action-item" (click)="moveUp()">
                                    Tiến <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                                <div class="box-action-item" (click)="moveDown()">
                                    Lùi <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                                <div class="box-action-item" (click)="moveLast()">
                                    Cuối <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group row" style="margin-top: 30px;">
                <label class="col-sm-3 col-form-label">Tiêu chí sắp xếp</label>
                <div class="col-sm-4">
                    <select class="browser-default custom-select" (change)="chooseSort($event)">
                        <option value="0">--- Chọn tiêu chí sắp xếp ---</option>
                        <option *ngFor="let item of listTitleTable" [value]="item.AttributesId"
                                [selected]="item?.IsSort !== null">{{item.AttributeLabel}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <div class="form-radio">
                        <form>
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" name="radio" [checked]="sort" [value]="true" [(ngModel)]="sort"
                                           (click)="radioChange(true)">
                                    <i class="helper"></i>Tăng dần
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" name="radio" [value]="false" [(ngModel)]="sort"
                                           [checked]="sort === false" (click)="radioChange(false)">
                                    <i class="helper"></i>Giảm dần
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <span><button type="button" class="btn btn-default ripple"
                                                          (click)="cancelModalConfigLisst()">Hủy
            </button></span>
            <button type="button" class="btn btn-primary ripple light m-l-10" (click)="saveConfigTable()">Lưu</button>
        </div>
    </app-modal-basic>
</form>


<!--modal xem chi tiết form cấu hình-->
<app-modal-basic #modalShowFormList [dialogClass]="'modal-lg'" [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Cấu hình form danh sách khách hàng</h5>
        <button type="button" class="close basic-close" (click)="modalShowFormList.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body" style="padding: 15px 0">
        <div *ngFor="let item of arrayAttributeDrop">
            <div class="row m-t-20 item-row">
                <div *ngFor="let item2 of item.arr" class="col-sm-{{item2.AttributeColumn}}">
                    <label [ngStyle]="!item2.IsShowLabel && {'visibility': 'hidden'}">{{item2.AttributeLabel}}</label>
                    <div *ngIf="item2.AttributeType == 'TEXTBOX'">
                        <input class="form-control" [disabled]="item2.IsReuse" [value]="item2.DefaultValueWithTextBox" />
                    </div>
                    <div *ngIf="item2.AttributeType == 'TEXTAREA'">
                        <textarea class="form-control" [disabled]="item2.IsReuse" [value]="item2.DefaultValueWithTextBox"></textarea>
                    </div>
                    <div *ngIf="item2.AttributeType == 'CHECKBOX' || item2.AttributeType == 'LISTCHECKBOX'">
                        <div class="border-checkbox-section" *ngIf="item2?.ListCategory.length > 0">
                            <div class="border-checkbox-group border-checkbox-group-primary" *ngFor="let val of item2?.ListCategory; let i = index">
                                <input class="border-checkbox" type="checkbox" id="checkboxbz{{i}}" [disabled]="item2.IsReuse" [checked]="val?.CategoryCode === item2?.DefaultValue">
                                <label class="border-checkbox-label" for="checkboxbz{{i}}">{{val.CategoryName}}</label>
                            </div>
                        </div>

                        <div class="border-checkbox-section" *ngIf="item2?.ListCategory.length === 0">
                            <div class="border-checkbox-group border-checkbox-group-primary">
                                <input class="border-checkbox" type="checkbox" id="checkboxaq" [disabled]="item2.IsReuse">
                                <label class="border-checkbox-label" for="checkboxaq">{{item2.AttributeLabel}}</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item2.AttributeType == 'DROPDOWNLIST'">
                        <select [disabled]="item2.IsReuse" class="form-control">
                            <option *ngFor="let val of item2?.ListCategory" [value]="val?.CategoryCode" [selected]="val?.CategoryCode === item2?.DefaultValue">{{val?.CategoryName}}</option>
                        </select>
                    </div>
                    <div *ngIf="item2.AttributeType == 'RADIO' || item2.AttributeType == 'LISTRADIO'">
                        <div class="form-radio" *ngIf="item2?.ListCategory.length > 0">
                            <form>
                                <div class="radio radio-inline" *ngFor="let val of item2?.ListCategory; let i = index">
                                    <label>
                                        <input type="radio" name="radio" [value]="val.CategoryCode" [checked]="val?.CategoryCode === item2?.DefaultValue">
                                        <i class="helper"></i> {{val.CategoryName}}
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="form-radio" *ngIf="item2?.ListCategory.length === 0">
                            <form>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" [value]="item2.CategoryCode">
                                        <i class="helper"></i> {{item2.AttributeLabel}}
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive m-t-20">
            <table class="table table-show-detail">
                <thead>
                <tr>
                    <th *ngFor="let item of listTitleTable" class="text-center">
                        {{item.AttributeLabel}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td *ngFor="let item of listTitleTable" class="text-center">---</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalShowFormList.hide()">Đóng</button>
    </div>
</app-modal-basic>

<!-- modal xac nhan cấu hình form danh sach-->
<app-modal-basic #modalAcceptForm [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Xác nhận lưu form</h5>
        <button type="button" class="close basic-close" (click)="modalAcceptForm.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Xác nhận lưu form</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalAcceptForm.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="submitFormList()">Có</button>
    </div>
</app-modal-basic>

<!-- modal chua chon truong thong tin cho bang-->
<app-modal-basic #titleTableNull>
    <div class="app-modal-header">
        <h5 class="modal-title">Xác nhận lưu form</h5>
        <button type="button" class="close basic-close" (click)="closeTitleTableNull()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Chưa chọn trường thông tin cho bảng</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="closeTitleTableNull()">Đóng</button>
    </div>
</app-modal-basic>

<!-- modal static hủy cấu hình form danh sách-->
<app-modal-basic #modalCancelFormList [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Hủy thông tin cấu hình</h5>
        <button type="button" class="close basic-close" (click)="modalCancelFormList.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Hủy thông tin cấu hình</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalCancelFormList.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="cancelConfigFormList()">Có</button>
    </div>
</app-modal-basic>

<!-- modal static hủy cấu hình table-->
<app-modal-basic #modalCancelTable [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Hủy thông tin cấu hình</h5>
        <button type="button" class="close basic-close" (click)="modalCancelTable.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Hủy thông tin cấu hình</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalCancelTable.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="cancelConfigTable()">Có</button>
    </div>
</app-modal-basic>

<!-- modal cấu hình trường tìm kiếm-->
<form [formGroup]="configSearch" (ngSubmit)="submitConfigSearch(configSearch.value)">
    <app-modal-basic #modalConfigFieldSearch [outsizeClose]="false">
        <div class="app-modal-header">
            <h4 class="modal-title">Cấu hình tìm kiếm</h4>
            <button type="button" class="close basic-close" (click)="CancelAttrSearchBtn()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
            <div class="form-group row" hidden>
                <label class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="AttributeCode"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Đối tượng</label>
                <div class="col-sm-8">
                    <select class="browser-default custom-select" formControlName="AttributeType"
                            (change)="changeAttributeType($event)">
                        <option *ngFor="let item of listTypeObject">{{item.CategoryName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Giá trị mặc định</label>
                <div class="col-sm-8">
                    <select class="browser-default custom-select" formControlName="DefaultValue">
                        <option value="all">--- Tất cả ---</option>
                        <option *ngFor="let item of (selectCategoryChild$ | async); let i = index"
                                [value]="item?.CategoryCode">{{item?.CategoryName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Hiển thị nhãn</label>
                <div class="col-sm-8">
                    <div class="border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-success">
                            <input class="border-checkbox" type="checkbox" id="checkboxLabel" formControlName="IsShowLabel">
                            <label class="border-checkbox-label" for="checkboxLabel" style="margin-top: 5px;"><a
                                    style="display: none">Success</a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <button type="button" class="btn btn-default ripple" (click)="CancelAttrSearchBtn()">Hủy</button>
            <button type="submit" class="btn btn-primary ripple light m-l-10">Lưu</button>
        </div>
    </app-modal-basic>
</form>

<!-- modal static hủy cấu hình trường search -->
<app-modal-basic #modalCancelAttrSearch [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Hủy thông tin cấu hình</h5>
        <button type="button" class="close basic-close" (click)="modalCancelAttrSearch.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Hủy thông tin cấu hình</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalCancelAttrSearch.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="cancelConfigAttrSearch()">Có</button>
    </div>
</app-modal-basic>

<!-- modal static hủy cấu hình trường search -->
<app-modal-basic #modalNullItemDragDrop>
    <div class="app-modal-header">
        <h5 class="modal-title">Thông tin cấu hình</h5>
        <button type="button" class="close basic-close" (click)="modalNullItemDragDrop.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Chưa chọn trường thông tin</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalNullItemDragDrop.hide()">Đóng</button>
    </div>
</app-modal-basic>

<!-- modal static hủy cấu hình form danh sách khi chuyển tab-->
<app-modal-basic #CancelFormListTabChange [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Hủy thông tin cấu hình</h5>
        <button type="button" class="close basic-close" (click)="CancelFormListTabChange.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Hủy thông tin cấu hình</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="CancelFormListTabChange.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="cancelConfigWhenTabListChange()">Có</button>
    </div>
</app-modal-basic>

<!-- modal xac nhan xoa hang-->
<app-modal-basic #modalAcceptDeleteRow [outsizeClose]="false">
    <div class="app-modal-header">
        <h5 class="modal-title">Xác nhận lưu form</h5>
        <button type="button" class="close basic-close" (click)="modalAcceptDeleteRow.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <p>Xác nhận xóa dòng</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default ripple" (click)="modalAcceptDeleteRow.hide()">Không</button>
        <button type="button" class="btn btn-primary ripple light m-l-10" (click)="deleteRowAcceptFormList()">Có</button>
    </div>
</app-modal-basic>






