<!--<section class="login-block">-->
  <!--&lt;!&ndash; Container-fluid starts &ndash;&gt;-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--&lt;!&ndash; Authentication card start &ndash;&gt;-->
        <!--<form class="md-float-material form-material" name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm"   [class.ng-submitted]="passwordForm.submitted">-->
          <!--<div class="text-center">-->
            <!--<img src="assets/images/logo-crm.png" alt="logo.png">-->
          <!--</div>-->
          <!--<div class="auth-box card">-->
            <!--<div class="card-block">-->
              <!--<div class="row m-b-20">-->
                <!--<div class="col-md-12">-->
                  <!--<h3 class="text-center mt-3">Thay đổi mật khẩu</h3>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="alert alert-success" *ngIf="success">-->
                <!--<strong>Password changed!</strong>-->
              <!--</div>-->
              <!--<div class="alert alert-danger" *ngIf="error"  >-->
                <!--<strong>{{error}}</strong> The password could not be changed.-->
              <!--</div>-->

              <!--<div class="alert alert-danger" *ngIf="doNotMatch" >-->
                <!--The password and its confirmation do not match!-->
              <!--</div>-->

              <!--<div class="form-group form-primary">-->
                <!--<input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel" autofocus-->
                       <!--[(ngModel)]="newPassword" minlength=8 maxlength=20 pattern="^\w+[\d+(\W!\s)+]\S+$" required>-->
                <!--<span class="form-bar"></span>-->
                <!--<span class="txt-required">*</span>-->
                <!--<label class="float-label">Mật khẩu mới</label>-->
                <!--<div *ngIf="((newPasswordInput.touched || newPasswordInput.submitted  ||  newPasswordInput.dirty) && newPasswordInput.invalid)">-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="newPasswordInput.errors.required" >-->
                    <!--{{'Thông tin không được để trống' | translate}}-->
                  <!--</small>-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                  <!--&lt;!&ndash;*ngIf="newPasswordInput.errors.minlength">&ndash;&gt;-->
                  <!--&lt;!&ndash;Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="newPasswordInput.errors.maxlength">-->
                    <!--Your password cannot be longer than 20 characters.-->
                  <!--</small>-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="newPasswordInput.errors.pattern">-->
                    <!--Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.-->
                  <!--</small>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="newPasswordInput.errors.required" >&ndash;&gt;-->
                    <!--&lt;!&ndash;{{'Thông tin không được để trống' | translate}}&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;&ndash;&gt;-->
                         <!--&lt;!&ndash;&lt;!&ndash;*ngIf="newPasswordInput.errors.minlength">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</small>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="newPasswordInput.errors.maxlength">&ndash;&gt;-->
                    <!--&lt;!&ndash;Your password cannot be longer than 20 characters.&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="newPasswordInput.errors.pattern">&ndash;&gt;-->
                    <!--&lt;!&ndash;Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="form-group form-primary">-->
                <!--<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"-->
                       <!--[(ngModel)]="confirmPassword" minlength=8 maxlength=20 required>-->
                <!--<span class="form-bar"></span>-->
                <!--<span class="txt-required">*</span>-->
                <!--<label class="float-label">Xác nhân lại</label>-->
                <!--<div *ngIf="((confirmPasswordInput.touched || confirmPasswordInput.submitted  ||  confirmPasswordInput.dirty) && confirmPasswordInput.invalid)">-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="confirmPasswordInput.errors.required" >-->
                    <!--{{'Thông tin không được để trống' | translate}}-->
                  <!--</small>-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="confirmPasswordInput.errors.minlength" >-->
                    <!--Your confirmation password is required to be at least 8 characters.-->
                  <!--</small>-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="confirmPasswordInput.errors.maxlength" >-->
                    <!--Your confirmation password cannot be longer than 20 characters.-->
                  <!--</small>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="confirmPasswordInput.errors.required" >&ndash;&gt;-->
                    <!--&lt;!&ndash;{{'Thông tin không được để trống' | translate}}&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="confirmPasswordInput.errors.minlength" >&ndash;&gt;-->
                    <!--&lt;!&ndash;Your confirmation password is required to be at least 8 characters.&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                  <!--&lt;!&ndash;<small class="form-text text-danger"&ndash;&gt;-->
                         <!--&lt;!&ndash;*ngIf="confirmPasswordInput.errors.maxlength" >&ndash;&gt;-->
                    <!--&lt;!&ndash;Your confirmation password cannot be longer than 20 characters.&ndash;&gt;-->
                  <!--&lt;!&ndash;</small>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="row m-t-30">-->
                <!--<div class="col-6">-->
                  <!--<button type="button" class="btn btn-default btn-md btn-block text-center m-b-20 ripple light" (click)="clear()">Hủy bỏ</button>-->
                <!--</div>-->
                <!--<div class="col-6">-->
                  <!--<button type="submit"  class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Cập nhập</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash; end of form &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; end of col-sm-12 &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; end of row &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; end of container-fluid &ndash;&gt;-->
<!--</section>-->






<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm"   [class.ng-submitted]="passwordForm.submitted">
          <div class="text-center">
            <img src="assets/images/logo-crm.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center mt-3">Thay đổi mật khẩu</h3>
                </div>
              </div>

              <div class="alert alert-success" *ngIf="success">
                <strong>Password changed!</strong>
              </div>
              <div class="alert alert-danger" *ngIf="error"  >
                <strong>{{error}}</strong>
              </div>

              <!--<div class="alert alert-danger" *ngIf="doNotMatch" >-->
                <!--Nhập lại mật khẩu-->
                <!--&lt;!&ndash;The password and its confirmation do not match!&ndash;&gt;-->
              <!--</div>-->

              <div class="form-group form-primary">
                <input type="password" appControlValue class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                       [(ngModel)]="newPassword" minlength=8 maxlength=20 pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,20}$" required>
                <span class="form-bar"></span>
                <span class="txt-required">*</span>
                <label class="float-label">Mật khẩu mới</label>
                <div *ngIf="((newPasswordInput.touched || passwordForm.submitted  ||  newPasswordInput.dirty) && newPasswordInput.invalid)">
                  <small class="form-text text-danger"
                         *ngIf="newPasswordInput.errors.required" >
                    {{'Thông tin không được để trống' | translate}}
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="newPasswordInput.errors.maxlength">
                    Your password cannot be longer than 20 characters.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="newPasswordInput.errors.pattern || newPasswordInput.errors.minlength">
                    Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.
                  </small>
                </div>
              </div>
              <div class="form-group form-primary">
                <input type="password" appControlValue class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" [ngClass]="{'txt-border' : doNotMatch}"
                       [(ngModel)]="confirmPassword" maxlength=20 required>
                <span class="form-bar"></span>
                <span class="txt-required">*</span>
                <label class="float-label">Xác nhận lại</label>
                <div *ngIf="((confirmPasswordInput.touched || passwordForm.submitted  ||  confirmPasswordInput.dirty) && confirmPasswordInput.invalid)">
                  <small class="form-text text-danger"
                         *ngIf="confirmPasswordInput.errors.required" >
                    {{'Thông tin không được để trống' | translate}}
                  </small>
                  <small class="form-text text-danger"
                         [hidden]="!confirmPasswordInput.errors?.doNotMatch">
                    Nhập lại mật khẩu
                  </small>
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="confirmPasswordInput.errors.minlength" >-->
                    <!--Your confirmation password is required to be at least 8 characters.-->
                  <!--</small>-->
                  <!--<small class="form-text text-danger"-->
                         <!--*ngIf="confirmPasswordInput.errors.maxlength" >-->
                    <!--Your confirmation password cannot be longer than 20 characters.-->
                  <!--</small>-->
                </div>
              </div>
              <div class="row m-t-30">
                <!--<div class="col-6">-->
                <!--<button type="button" class="btn btn-default btn-md btn-block text-center m-b-20 ripple light" (click)="clear()">Hủy bỏ</button>-->
                <!--</div>-->
                <div class="col-12">
                  <button type="submit"  class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Cập nhập</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
