<div class="">
  <div class="horizontal-nav-header">
    <!-- Material tab card start -->
    <div class="row m-b-30">
      <div class="col-md-12 col-xl-12">
        <ngb-tabset [justify]="'start'">
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate]>
                <p>1.</p>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <!-- Material tab card end -->
  </div>
</div>