<div class="text-center">
  <div class="itemdelete">
    <i class="fa fas fa-trash"></i>
  </div>
  <div>
      <h6 class="modal-title text-center text1">{{'Xóa thông tin đã chọn' | translate}}</h6>
  </div>
  <div class="modal-body text-center">
      <button class="btn btn-primary mr-2" data-dismiss="modal" type="button"  (click)="delete()" ><span>{{'Có' | translate}}</span> </button>
      <button class="btn btn-default " data-dismiss="modal" type="button" (click)="close()"><span>{{'Không' | translate}}</span> </button>
  </div>
</div>