::ng-deep .config_authority {
 &_header__padding  th {
    // padding: 0.75rem 0.75rem;
    padding: 0.6rem;
    font-weight: 600;
    select {
        font-weight: 600;
        color: #212529;
    }
    thead {
      border-bottom: 2px solid #ccc;
     }
 }
 &_header__padding {
  border-bottom: 2px solid #ccc;
 }

}

.fixed_headers {
  table-layout: fixed;
  // border-collapse: collapse;
  th, td {
    padding: 0.5rem 5px;
    text-align: left;
  }
  td:nth-child(1), th:nth-child(1) {
    min-width: 166px;
  }
  td:nth-child(2), th:nth-child(2) { min-width: 54px; }
  td:nth-child(3), th:nth-child(3) { min-width: 64px; }
  td:nth-child(4), th:nth-child(4) { min-width: 87px; }
  td:nth-child(5), th:nth-child(5) { min-width: 83px; }
  td:nth-child(6), th:nth-child(6) { min-width: 82px; }
  td:nth-child(7), th:nth-child(7) { min-width: 43px; }
  td:nth-child(8), th:nth-child(8) { min-width: 84px; }
  td:nth-child(9), th:nth-child(9) { min-width: 38px; }
  td:nth-child(10), th:nth-child(10) { min-width: 38px; }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    max-height: 300px;
  }
}
.table_config {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-top: 1px solid #ccc;
}

.border-checkbox-section {
  height: 20px;
}