
<form class="md-float-material form-material" name="form" role="form" (ngSubmit)="changePassword()"
      #passwordForm="ngForm" [class.ng-submitted]="passwordForm.submitted" xmlns="http://www.w3.org/1999/html">
  <div class="auth-box card m-0">
    <div class="card-block">
      <div class="row m-b-20">
        <div class="col-md-12">
          <h3 class="text-center mt-3">Đổi mật khẩu đăng nhập</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()" style="    position: absolute; top: -17px;  right: 10px;">&times;</button>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="error"  >
        <strong>{{error.error.value.message}}</strong>
      </div>

      <!--<div class="alert alert-danger" *ngIf="doNotMatch" >-->
        <!--&lt;!&ndash;The password and its confirmation do not match!&ndash;&gt;-->
        <!--Nhập lại mật khẩu-->
      <!--</div>-->
      <div class="form-group form-primary">
        <input type="password" appControlValue class="form-control" id="currentPassword" name="oldPassword" #oldPasswordInput="ngModel"
               [(ngModel)]="oldPassword" required>
        <span class="form-bar"></span>
        <span class="txt-required">*</span>
        <label class="float-label">Mật khẩu cũ</label>
        <div *ngIf="((oldPasswordInput.touched || passwordForm.submitted  ||  oldPasswordInput.dirty) && oldPasswordInput.invalid)">
          <small class="form-text text-danger"
                 *ngIf="oldPasswordInput.errors.required" >
            Thông tin không được để trống
          </small>
        </div>
      </div>
      <div class="form-group form-primary">
        <input type="password" appControlValue class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
               [(ngModel)]="newPassword" minlength=8 maxlength=20 pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,20}$" required>
        <span class="form-bar"></span>
        <span class="txt-required">*</span>
        <label class="float-label">Mật khẩu mới</label>
        <div *ngIf="((newPasswordInput.touched || passwordForm.submitted  ||  newPasswordInput.dirty) && newPasswordInput.invalid)">
          <small class="form-text text-danger"
                 *ngIf="newPasswordInput.errors.required" >
            Thông tin không được để trống
          </small>
          <!--<small class="form-text text-danger"-->
          <!--*ngIf="newPasswordInput.errors.minlength">-->
          <!--Your password is required to be at least 8 characters.-->
          <!--</small>-->
          <!--<small class="form-text text-danger"-->
                 <!--*ngIf="newPasswordInput.errors.maxlength">-->
            <!--Your password cannot be longer than 20 characters.-->
          <!--</small>-->
          <small class="form-text text-danger"
                 *ngIf="newPasswordInput.errors.pattern || newPasswordInput.errors.minlength">
            Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.
          </small>
        </div>
      </div>
      <div class="form-group form-primary">
        <input type="password" appControlValue class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
               [ngClass]="{'txt-border' : doNotMatch}"
               [(ngModel)]="confirmPassword" maxlength=20 required>
        <span class="form-bar"></span>
        <span class="txt-required">*</span>
        <label class="float-label">Xác nhận lại</label>
        <!--doNotMatch {{doNotMatch}} !confirmPasswordInput.invalid {{!confirmPasswordInput.invalid}} - {{doNotMatch && !confirmPasswordInput.invalid}}-->
        <!--<small class="form-text text-danger" *ngIf="(doNotMatch && confirmPasswordInput.touched)" >-->
          <!--Nhập lại mật khẩu-->
        <!--</small>-->
        <div *ngIf="((confirmPasswordInput.touched || passwordForm.submitted  ||  confirmPasswordInput.dirty) && confirmPasswordInput.invalid)">
          <small class="form-text text-danger"
                 *ngIf="confirmPasswordInput.errors.required" >
            Thông tin không được để trống
          </small>
          <!--<small class="form-text text-danger"-->
                 <!--*ngIf="confirmPasswordInput.errors.minlength" >-->
            <!--Mật khẩu có tối thiểu 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt.-->
            <!--&lt;!&ndash;Your confirmation password is required to be at least 8 characters.&ndash;&gt;-->
          <!--</small>-->
          <small class="form-text text-danger"
                 [hidden]="!confirmPasswordInput.errors?.doNotMatch">
            Nhập lại mật khẩu
          </small>
          <small class="form-text text-danger"
                 *ngIf="confirmPasswordInput.errors.maxlength" >
            Your confirmation password cannot be longer than 20 characters.
          </small>
        </div>
      </div>
      <div class="row m-t-30">
        <div class="col-6">
          <button type="button" class="btn btn-default btn-md btn-block text-center m-b-20 ripple light" (click)="clear()">Hủy bỏ</button>
        </div>
        <div class="col-6">
          <button type="submit"  class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Cập nhập</button>
        </div>
      </div>
    </div>
  </div>
</form>
